<div class="card">
  <div class="card-body">
    <li id="beer-list-item" class="list-group-item beer-list-item mt-2 mx-auto">
      <!-- Beer Details: -->
      <div class="col-2">
        <div id="beer-list-item--image" class="beer-list-item--image">
          <img class="img-fluid beer-image" *ngIf="beer.image_url" src="{{ beer.image_url }}" title="{{ beer.name }}" />
          <img class="img-fluid beer-no-image" *ngIf="!beer.image_url" src="{{ noImageUrl }}" />
        </div>
      </div>
      <div class="col">
        <div class="row">
          <h5 class="card-title">
            <div id="beer-list-item--name" class="beer-list-item--name">
              <span>{{ beer.name }}</span>
            </div>
          </h5>
        </div>
        <div class="row">
          <h6 class="card-subtitle text-muted">
            <span id="beer-list-item--abv" class="beer-list-item--abv">{{ beer.abv }}%</span>
            <span id="beer-list-item--brewed" class="beer-list-item--brewed mr-auto"> -- {{ beer.first_brewed }}</span>
          </h6>
        </div>
        <div class="row text">
          <div id="beer-list-item--description" class="beer-list-item--description">
            <span>{{ beer.description }}</span>
          </div>
        </div>
      </div>

      <ng-container *ngIf="isRandomBeer">
        <div id="random-beer__actions" class="random-beer__actions col-3">
          <button type="button" class="btn btn-primary" (click)="parent.loadRandomBeer(false)">
            Get another beer
          </button>
          <button type="button" class="btn btn-outline-primary" (click)="parent.loadRandomBeer(true)">
            Get a non-alcoholic beer
          </button>
        </div>
      </ng-container>
    </li>
  </div>
</div>
